@tailwind base;
@tailwind components;
@tailwind utilities;
.movieOutput{
    text-align: center;
    background-color: rgb(239, 239, 243);
    color: rgb(22, 20, 20);
    border-radius: 0;
    border-bottom: 1px solid black;

}
.btn {
    background-color: rgb(228, 227, 232);
    color: rgb(13, 12, 12);
    align-content: left;
  }